{%- extends "bootstrap/base.html" %}

{% macro show_section(title, id, content) -%}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href={{ "#" + id }} aria-expanded="false" aria-controls={{ id }}>
          {{ title }}
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" role="tabpanel" id={{ id }}>
      <div class="panel-body">
        {% include content %}
      </div>
    </div>
  </div>
{%- endmacro %}


{% block content %}
  <script type=text/javascript src="static/lib/d3.v3.js"></script>

  <div class="container">
    {% include 'header.html' %}

    {{ show_section("+ Summary", "collapseSummary", 'summary.html') }}
    {{ show_section("+ Feature selection", "collapseFeatureSelect", 'feature_selection.html') }}
    {{ show_section("+ Dimentionality reduction", "collapseDimension", 'dimensionality_reduction.html') }}
    {{ show_section("+ Clustering", "collapseClustering", 'clustering.html') }}
  </div>
{%- endblock %}
